/* Contêiner para inputs com ícones */
.input-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    padding: 0;
}

.input-container i {
    position: absolute;
    left: 1rem; /* Usa rem para posicionamento do ícone */
    top: 50%;
    transform: translateY(-50%);
    color: #1A222F;
    pointer-events: none;
    font-size: 1em;
}

/* Input com ícone, ajustando padding */
.login-inputs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.75em 1em;
    padding-left: 2.5em; /* Espaço extra para o ícone */
    gap: 0.5em;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #1A222F;
    border-radius: 2em;
    margin: 0 auto;
    font-size: 1em;
}

/* Botão de login */
#btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1em;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: #1A222F;
    border-radius: 2em;
    color: #FFFFFF;
    margin: 1em auto;
    cursor: pointer;
    font-size: 1em;
}

/* Hover para o botão */
#btn-login:hover {
    background-color: #344663;
}

/* Barra lateral */
.sidebar {
    width: 15vw;
    background: #1A222F;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    font-size: 1em;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    z-index: 500;

}

.sidebar.hidden {
    transform: translateX(-100%); /* Ou display: none */
    transition: transform 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 3rem;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
}

/* Botão "sanduíche" fora da sidebar */
.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #1A222F;
    cursor: pointer;
    z-index: 2000;
    display: none; /* Inicialmente escondido, só aparecerá em telas pequenas */
}

/* Informações do usuário na sidebar */
.user-info {
    display: flex;
    text-align: center;
    margin-bottom: 2em;
    background: #D9D9D9;
    color: black;
    padding: 1em;
    border-radius: 1em;
}

.user-image {
    width: 2vw; /* Tamanho relativo à largura da viewport */
    height: 2vw;
    border-radius: 50%;
    margin-bottom: 1em;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 1em 0;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem; /* Usa rem para escalabilidade */
    display: flex;
    align-items: center;
    padding: 0.5em 0;
}

.sidebar-menu i {
    margin-right: 0.5em;
}

.sidebar-menu li a:hover {
    background-color: #333;
    padding: 0.5em;
    border-radius: 0.5em;
}

/* Layout principal */
.main-content {
    margin-left: 20vw; /* Usa vw para largura da sidebar */
    padding: 2em;
    transition: margin-left 0.3s ease-in-out; /* Suave transição */
}

.nav-pages {
    display: flex;
    justify-content: space-between; /* Espaça o texto e o botão ao máximo */
    align-items: center; /* Alinha verticalmente ao centro */
    height: 8vh;
    margin-left: 15vw; /* Largura do menu lateral */
    padding: 1em;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3em;
}
    .nav-pages h3 {
        font-size: 2em;
    }

#form-login{
    margin-top: 10rem;
}
.frm-centralize{
    margin-left: 31.25rem;
}
#form-login-tittle{
    display: none;
    visibility: hidden;
}
.frm-style{
    /* Formulário */

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 4em 5em;
    gap: 1.5em;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
}
.frm-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.1em 1.5em;
    gap: 0.5em;

    width: 26.45vw;
    height: 8.17vh;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 1em;

    border: 1px solid #ccc; /* Pode ajustar a borda conforme necessário */
    font-size: 1em; /* Tamanho de fonte ajustável */
    box-sizing: border-box;
    margin-top: 1em;
}

.btn-padrao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2.25em;
    gap: 0.43em;

    width: 8.68em;
    height: 2.43em;

    background: #1A222F;
    border-radius: 1.87em;
    color: #ffffff;
}
    .btn-padrao:hover{
        background-color: #344663;
        color: #FFFFFF;
    }

.btn-clear{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em 2.25em;
    gap: 0.43em;
    margin-right: 2em;

    width: 8.68em;
    height: 2.43em;

    background: #FFFFFF;
    border-radius: 1.87em;
    color: #1A222F;
    border-color: #1A222F;
}
.btn-clear:hover{
    background-color: #344663;
    color: #FFFFFF;
}

/* Responsividade */

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    #userName {
        visibility: visible;
    }
    .sidebar {
        width: 60vw; /* Sidebar mais estreita em telas pequenas */
        transform: translateX(-100%); /* Escondida por padrão */
    }
    .main-content {
        margin-left: 0; /* Ajuste do conteúdo principal */
    }
    .login-inputs, #btn-login {
        font-size: 0.9em; /* Tamanho da fonte menor em telas pequenas */
    }
    .user-image {
        width: 4vw; /* Ajuste o tamanho da imagem do usuário */
        height: 4vw;
    }
    .sidebar-menu li a {
        font-size: 1rem; /* Reduz tamanho da fonte no menu */
    }
    .nav-pages {
        margin-left: 0vw; /* Ajusta a margem esquerda para telas menores */
    }
    .open-btn {
        display: block; /* Exibe o botão "sanduíche" em telas pequenas */
    }
    #close-btn {
        visibility: hidden;
    }
    .close-btn {
        display: block; /* Exibe o botão "X" em telas pequenas */
    }
    .nav-pages-title {
        margin-left: 1.2em;
    }
    .user-info {
        width: 50vw;
        margin-left: 0px;
        height: 10vh;
    }
    .lateral-content-login {
        display: none !important; /* Esconder o conteúdo da esquerda em telas pequenas */
        visibility: hidden;
    }
    .login-content {
        width: 100%; /* Faz a área de login ocupar toda a largura */
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh; /* Para centralizar verticalmente */
        margin-top: 0; /* Remove margem superior */
    }
    .row {
        margin: 0; /* Remove margens para evitar espaço extra */
    }
    #form-login {
        margin-top: 0;
    }
    .frm-centralize {
        margin-left: 0;
    }
    .frm-input {
        width: 26.45vw;
        height: 8.17vh;
        padding: 1em 1.25em; /* Menos espaçamento para telas menores */
        font-size: 0.9em; /* Tamanho de fonte ligeiramente menor */
    }
    .btn-clear {
        margin-right: 0;
    }
}

/* Media query para telas menores que 480px (dispositivos móveis) */
@media (max-width: 480px) {
    .sidebar {
        width: 70vw; /* Sidebar mais estreita em dispositivos móveis */
    }
    .main-content {
        margin-left: 42vw; /* Ajuste da margem principal */
        padding: 1em;
    }
    .login-inputs, #btn-login {
        font-size: 0.8em; /* Tamanho de fonte menor em dispositivos móveis */
    }
    .user-image {
        width: 10vw; /* Ajusta tamanho da imagem do usuário */
        height: 10vw;
    }
    .sidebar-menu li a {
        font-size: 0.9rem; /* Reduz o tamanho da fonte do menu */
    }
    .nav-pages {
        margin-left: 0vw; /* Ajusta a margem esquerda para dispositivos móveis */
    }
    .nav-pages-title {
        margin-left: 1.2em;
    }
    .user-info {
        width: 50vw;
        margin-left: 0px;
        height: 10vh;
    }
    .lateral-content-login {
        display: none !important; /* Esconder o conteúdo da esquerda em telas pequenas */
        visibility: hidden;
    }
    .login-content {
        width: 100%; /* Faz a área de login ocupar toda a largura */
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh; /* Para centralizar verticalmente */
        margin-top: 0; /* Remove margem superior */
    }
    .row {
        margin: 0; /* Remove margens para evitar espaço extra */
    }
    #form-login {
        margin-top: 0;
    }
    #form-login-title {
        display: flex;
        visibility: visible;
    }
    .frm-centralize {
        margin-left: 0;
    }
    .frm-input {
        width: 26.45vw; /* O input ocupa toda a largura da tela */
        height: auto; /* Altura ajustada automaticamente conforme o conteúdo */
        padding: 0.75em 1em; /* Menor espaçamento para telas muito pequenas */
        font-size: 0.8em; /* Reduz ainda mais o tamanho da fonte */
        gap: 0.25em; /* Menor espaçamento entre os elementos */
    }
    .btn-clear {
        margin-right: 0;
    }
}
/* Para telas menores que 680px */
@media (max-width: 680px) {
    .frm-input {
        width: 90%; /* Usa porcentagem ao invés de vw */
        padding: 0.75em 1em; /* Reduz o padding */
        font-size: 0.9em; /* Tamanho de fonte menor */
        margin: 0.5em 0; /* Ajusta a margem para não "estourar" */
    }

    .frm-centralize {
        margin-left: 0; /* Remove margem fixa */
    }

    .frm-style {
        padding: 2em 1.5em; /* Reduz o padding do formulário */
    }

    select {
        width: 100% !important; /* Mesma largura dos outros inputs */

    }
}


/* Media query para telas entre 768px e 1850px */
@media (min-width: 768px) and (max-width: 1850px) {
    #userName {
        visibility: visible;
    }
    .sidebar {
        width: 20vw; /* Sidebar mais estreita em telas médias */
        transform: translateX(-100%); /* Escondida por padrão */
    }
    .main-content {
        margin-left: 0; /* Ajuste do conteúdo principal */
    }
    .login-inputs, #btn-login {
        font-size: 0.9em; /* Tamanho da fonte menor em telas médias */
    }
    .user-image {
        width: 4vw; /* Ajuste o tamanho da imagem do usuário */
        height: 4vw;
    }
    .sidebar-menu li a {
        font-size: 1rem; /* Reduz tamanho da fonte no menu */
    }
    .nav-pages {
        margin-left: 0vw; /* Ajusta a margem esquerda para telas médias */
    }
    .open-btn {
        display: block; /* Exibe o botão "sanduíche" em telas médias */
    }
    #close-btn {
        visibility: hidden;
    }
    .close-btn {
        display: block; /* Exibe o botão "X" em telas médias */
    }
    .nav-pages-title {
        margin-left: 1.2em;
    }
    .user-info {
        width: 15vw;
        margin-left: 0px;
        height: 10vh;
    }
    .lateral-content-login {
        display: none !important; /* Esconder o conteúdo da esquerda em telas médias */
        visibility: hidden;
    }
    .login-content {
        width: 100%; /* Faz a área de login ocupar toda a largura */
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh; /* Para centralizar verticalmente */
        margin-top: 0; /* Remove margem superior */
    }
    .row {
        margin: 0; /* Remove margens para evitar espaço extra */
    }
    #form-login {
        margin-top: 0;
    }
    .frm-centralize {
        margin-left: 0;
    }
    .frm-input {
        width: 26.45vw; /* O input ocupa toda a largura da tela */
        height: auto; /* Altura ajustada automaticamente conforme o conteúdo */
        padding: 1em 1.25em; /* Menos espaçamento para telas médias */
        font-size: 0.9em; /* Tamanho de fonte ligeiramente menor */
    }
    .btn-clear {
        margin-right: 0;
    }
}

